/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: "Oxygen", sans-serif;
	text-shadow: 0px 1px 1px #FFF;
}

/* Columns */

.left_column {
	background: #EEE;
	height: 800px;
}

.right_column {
	background: #EEE;
	height: 800px;
}

/* Masthead */

.masthead {
	position: relative;
	z-index: 1;
	padding: 30px 0 10px 0;
	background: #282828 url(../img/headerbg.jpg);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
       -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
            box-shadow: 0px 2px 5px rgba(0,0,0,0.28);
}

.masthead h1 {
	font-size: 24px;
	font-weight: normal;
	color: #DDD;
	text-shadow: 0px 1px 1px #000;
	margin-bottom: 0;
	font-family: "Oxygen", sans-serif;
	margin-left: 2px;
}

.masthead .nav-pills li a.dropdown-toggle .caret {
	border-top-color: #DDD;
	border-bottom-color: #DDD;
}

.masthead .nav-pills li a {
	color: #CCC;
}

.masthead .nav-pills li a:hover {
	color: #DDD;
}

.masthead .nav-pills li a:hover {
	background: none;
}

.masthead .nav-pills .open .dropdown-toggle {
	background-color: transparent;
}

.masthead .nav-pills li .dropdown-menu li a {
	color: #666;
}

.masthead .nav-pills li .dropdown-menu li a:hover {
	background: #F8F8F8;
}

.masthead .nav-pills li .dropdown-menu li.active a {
	background: #EEE;
}

.masthead .nav-pills .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #FFF;
  position: absolute;
  top: -7px;
  left: 9px;
}

.masthead .nav-pills.pull-right .dropdown-menu,
.masthead .nav-pills .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.masthead .nav-pills.pull-right .dropdown-menu:before,
.masthead .nav-pills .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}
.masthead .nav-pills.pull-right .dropdown-menu:after,
.masthead .nav-pills .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}

.masthead .navbar li {
	position: relative;
}

.masthead .navbar li .badge {
	position: absolute;
	top: -9px;
	left: 6px;
}

/* Secondary Masthead */

.secondary-masthead {
	padding: 20px 0;
	background: #F4F4F4;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.18);
       -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.18);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.18);
}

.secondary-masthead .breadcrumb {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #CCC;
	font-family: "Oxygen", sans-serif;
	font-weight: normal;
	text-shadow: 0px 1px 1px #FFF;
}

.secondary-masthead .breadcrumb a,
.secondary-masthead .breadcrumb .divider {
	color: #CCC;
}

/* Main Area */

.main-area {
	padding: 20px 0;
}

/* Slates */

.slate {
	background: #F8F8F8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:1px 1px 3px 1px rgba(186, 186, 186, 0.4);
	-webkit-box-shadow:1px 1px 3px 1px rgba(186, 186, 186, 0.4);
	box-shadow:1px 1px 3px 1px rgba(186, 186, 186, 0.4);
	padding: 10px 20px;
	border: 2px solid #FFF;
	margin-bottom: 20px;
}

.slate .page-header {
	margin-top: 0;
	padding-bottom: 10px;
}

.slate h2 {
	font-weight: normal;
	font-family: "Oxygen", sans-serif;
	font-size: 18px;
	text-shadow: 0px 1px 1px #FFF;
}

.stat-column {
	width: 13%;
	float: left;
	text-align: center;
	display: block;
	color: #999;
	margin: 0 4%;
	padding: 12px 2%;
}

.stat-column:hover {
	background: #FDFDFD;
	color: #999;
	text-decoration: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.stat-column span {
	font-weight: normal;
	font-family: "Oxygen", sans-serif;
	font-size: 14px;
	text-shadow: 0px 1px 1px #FFF;
	display: block;
}

.stat-column span.number {
	font-size: 32px;
	font-weight: normal;
	font-family: "Oxygen", sans-serif;
	margin: 0;
	margin: 14px 0 10px 0;
	text-shadow: 0px 1px 1px #FFF;
}


.slate .table-striped,
.slate .table-striped {
  background-color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.slate .table tbody tr:hover td,
.slate .table tbody tr:hover th {
  background-color: #EEE;
}

.slate .table th,
.slate .table td {
  border-top: none;
  border-bottom: 1px solid #EBEBEB;
}

.slate .table td.date {
	width: 100px;
	font-size: 11px;
	color: #BBB;
	text-align: right;
}

.slate .table td.value,
.slate .table th.value {
	width: 100px;
	text-align: right;
}

.slate .table td.actions,
.slate .table th.actions {
	width: 200px;
	text-align: right;
}

.slate .table .btn-danger {
	visibility: hidden;
}

.slate .table tr:hover .btn-danger {
	visibility: visible;
}

.slate .table td span.meta {
	font-size: 11px;
	color: #BBB;
}

.slate .form-inline {
	margin-bottom: 0;
	padding: 10px 0;
}
.slate .form-inline input,
.slate .form-inline select {
	margin-right: 6px;
}

/* Heading Icon Link */

.iconlink {
	color: #777;
}
.iconlink:hover {
	color: #6ECBE2;
	text-decoration: none;
}

/* Listing Buttons */

.listing-buttons {
	text-align: right;
	margin-bottom: 20px;
}

/* Pagination */

.pagination {
	margin-top: 0;
}

.profileicon {
	text-align: center;
}

.profileicon i {
	color: #AAA;
	font-size: 180px;
	line-height: 1;
}

/* Footer */

.footer {
	border-top: 1px solid #EEE;
	text-align: right;
	padding-top: 10px;
	color: #BBB;
}